@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&display=swap');

:root {
    --color-geek: #5AB7FE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

@font-face {
    font-family: LEMONMILK;
    src: url(./assets/font/LEMONMILK-Bold.otf);
}

html {
    scroll-behavior: smooth;
}

/* Header */

body {
    overflow-x: hidden;
    background-color: #1D1D1D;
}

header {
    background-color: #080808;
    display: flex;
    flex-direction: column;
    position: sticky;
    justify-content: center;
    top: 0;
    z-index: 99;
}

.h-cart-card.hidden {
    display: none;
}

.logo {
    width: 150px;
    display: flex;
    /* transform: translate(-5px, 20px); */
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo a {
    width: 100%;
    height: 100%;
    transform: translate(0, 5px);
}

.logo a img {
    width: 100%;
    height: 100%;
}

.menu {
    display: none;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    align-items: center;
    font-family: Poppins;
    position: relative;
}

#open {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
}

#open div {
    width: 20px;
    height: 2px;
    border-radius: 25px;
    background-color: var(--color-geek);
    cursor: pointer;
}

.search {
    width: 30%;
    position: relative;
}

.search input {
    outline: none;
    border: 1px #414141 solid;
    background-color: transparent;
    padding: 12px;
    min-width: 100%;
    border-radius: 28px;
    color: white;
    font-family: Poppins;
    padding-left: 42px;
    font-size: 16px;
    transition: all .3s;
}

.search input:focus {
    background-color: #2F2F2F;
}

.search label {
    position: absolute;
    color: #8E8E8E;
    font-size: 24px;
    left: 12px;
    top: 50%;
    transform: translateY(-42%);
}

.header-right {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
}

.header-right div {
    display: flex;
    align-items: center;
}

.cartCount {
    position: absolute;
    color: white;
    background-color: var(--color-geek);
    padding: 2px 6px;
    font-size: 14px;
    border-radius: 50%;
    top: -10px;
    right: -14px;
}

.header-list.active {
    left: 0;
}

.header-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    background-color: #1d1d1d;
    width: 450px;
    height: 100vh;
    top: 0;
    left: -450px;
    align-items: center;
    justify-content: start;
    padding: 20px 10px;
    gap: 30px;
    transition: all 1s;
    z-index: 99;
}

.header-list .h-list a {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.header-list .h-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.header-list .h-links a {
    color: white;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    background-color: #2F2F2F;
    text-align: center;
    transition: all .3s;
}

.header-list .h-links a:hover {
    background-color: #414141;
}

.header-list .h-user {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-list .h-user button {
    color: var(--color-geek);
    font-size: 17px;
    padding: 5px 30px;
    border-radius: 25px;
    border: 2px solid var(--color-geek);
    transition: all .3s;
    background-color: transparent;
    cursor: pointer;
}

.header-list .h-user button:hover {
    background-color: #4a95f762;
}

.header-list .h-user button:active {
    background-color: #4a95f762;
}

/* cart */

.header-cart.openCart {
    position: absolute;
    left: 0px;
}

.header-cart {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    background-color: #1d1d1d;
    width: 450px;
    height: 100vh;
    top: 0;
    left: -500px;
    align-items: center;
    /* justify-content: start; */
    padding: 10px;
    /* gap: 5px; */
    transition: all 1s;
    z-index: 30;
}

.header-cart::-webkit-scrollbar {
    display: none;
}

.h-cart-items::-webkit-scrollbar {
    width: 7px;
}

.h-cart-items::-webkit-scrollbar-thumb {
    background-color: var(--color-geek);
    border-radius: 30px;
}

.h-cart-items {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    padding: 5px;
}

.h-cart-pay {
    background-color: #005BF5;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    transition: all .3s;
    width: 100%;
}

.h-cart-pay:hover {
    background-color: #2575ff;
}

.h-cart-title {
    color: var(--color-geek);
    font-size: 24px;
    display: flex;
    width: 100%;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}

.h-cart-title p {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.h-cart-title button {
    color: var(--color-geek);
    font-size: 17px;
    padding: 5px 30px;
    border-radius: 25px;
    border: 2px solid var(--color-geek);
    transition: all .3s;
    background-color: transparent;
    cursor: pointer;
}

.h-cart-title button:hover {
    background-color: #3780ff67;
}

.h-cart-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: solid 2px #ddd;
    border-radius: 15px;
    color: white;
}

.h-card-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.h-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.h-card-img {
    width: 128px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.h-card-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


.h-card-title {
    width: 95%;
    color: white;
}

.h-card-title p {
    display: flex;
    transition: all .3s;
}

.h-card-title p:hover {
    color: var(--color-geek);
}

.h-card-counter {
    border-radius: 25px;
    border: solid #ddd 2px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    height: 40px;
}

.h-card-counter button {
    border: 0;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    transition: all .3s;
}

.h-card-counter button:hover {
    background-color: #c7c7c7;
}

.h-cart-close {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    transition: all .3s;
    font-size: 24px;
}

.h-price {
    font-size: 16px;
    text-align: start;
}

.h-cart-close:hover {
    color: tomato;
    cursor: pointer;
}

.icon-header {
    font-size: 28px;
    color: var(--color-geek);
    transition: all .2s;
}

.icon-header:hover {
    color: #3780ff;
    cursor: pointer;
}

.header-bottom {
    display: none;
}

.header-bottom ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-family: Poppins;
    justify-content: center;
}

.header-bottom ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    transition: all .3s;
}

a {
    text-decoration: none;
}

.header-bottom ul li a:hover {
    color: #5090ff;
}

/* LOGIN CONTAINER */

.login-screen.visible {
    display: flex;
}

.login-screen {
    width: 100vw;
    height: 100vh;
    background-color: #0000008e;
    z-index: 200;
    position: fixed;
    align-items: center;
    justify-content: center;
    display: none;
}

.container-login {
    background-color: #111111;
    padding: 30px 40px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #005BF5 2px;
    position: relative;
}

.login-close {
    background-color: #005BF5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -12px;
    top: -12px;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    padding: 12px 14px;
    transition: all .3s;
}

.login-close:active {
    background-color: #6ea3ff;
}

.login-img {
    width: 128px;
}

.login-img img {
    width: 100%;
}

.login-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-input div {
    position: relative;
    width: 100%;
}

.login-input div input {
    outline: none;
    border: none;
    border-bottom: 2px solid #e7e7e7;
    background-color: transparent;
    color: #e7e7e7;
    padding: 12px 24px;
    font-size: 16px;
    width: 100%;
    transition: all .4s;
}

.login-input div input:focus {
    border-bottom: 2px solid var(--color-geek);
}

.login-input div input:focus~label {
    color: var(--color-geek);
}

.label-icon {
    color: rgb(145, 145, 145);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .4s;
}

.login-btn {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    background-color: #005BF5;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.login-btn a {
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    transition: all .3s;
}

.login-btn a:hover {
    background-color: #3780ff;
}

.login-newAC {
    display: flex;
    gap: 5px;
    color: white;
    font-size: 15px;
    justify-content: center;
}

.login-newAC a {
    color: var(--color-geek);
}

/* BANNER */

.carrosel {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 100%;
    /* height: 100vh; */
    overflow: hidden;
}

.carrosel .mobile {
    display: none;
}

.carrosel .web {
    display: block;
}

.carrosel img {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.carrosel div {
    display: flex;
    transition: all .5s ease-in-out;
    transform: translateX(0);
}

.banner div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-mobile {
    display: none;
}

/* FIM BANNER */

/* title */

.sub-title {
    text-align: center;
    padding: 20px;
}

.sub-title h1 {
    font-family: LEMONMILK;
    color: var(--color-geek);
    font-weight: normal;
    font-size: 38px;
}

.sub-title h3 {
    font-family: Inter;
    color: white;
    font-weight: normal;
}

/* info pay */

.pay {
    background-color: #101010;
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
    font-family: Inter;
    gap: 50px;
    padding: 20px;
}

.infos-pay {
    display: flex;
    gap: 10px;
}

.info-title {
    font-weight: bold;
    color: var(--color-geek);
}

.info-full-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Cards Produtos */

.product {
    display: flex;
    background-color: #1D1D1D;
    padding: 15px;
    gap: 10px;
    overflow-x: auto;
    width: 83%;
    margin: auto;
    /* position: relative; */
}

.product::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.product::-webkit-scrollbar-thumb {
    background-color: black;
}

.product_arrow {
    min-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.p-leftArrow {
    position: absolute;
    left: 90px;
    z-index: 10;
}

.p-rightArrow {
    position: absolute;
    right: 90px;
    cursor: pointer;
    z-index: 10;
}

.product_arrowleft {
    color: var(--color-geek);
    font-size: 32px;
    padding: 5px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    transition: all .3s;
}

.product_arrowleft:hover {
    background-color: #080808;
}

.product_arrowright:hover {
    background-color: #080808;
}

.product_arrowright {
    color: var(--color-geek);
    font-size: 32px;
    padding: 5px;
    border-radius: 50%;
    background-color: black;
    transition: all .3s;
}

.card_product {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    background-color: black;
    border-radius: 25px;
    font-family: Inter;
    min-width: 250px;
    /* min-height: 200px; */
    transition: all .3s;
    gap: 0;
}

.card_product:hover {
    transform: translateY(-10px);
}

.card_product .card_sub {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card_img {
    width: 100%;
    border-radius: 25px;
    background-color: #005BF5;
    position: relative;
}

.card_img img {
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 45px;
}

.card_overlay::before,
.card_overlay::after {
    content: '';
    position: absolute;
    background-color: #005BF5;
    width: 40px;
    height: 40px;
    bottom: -18px;
    right: 0;
    border-radius: 25px 0 0 0;
}

.card_overlay::after {
    background-color: black;
    border-radius: 0 25px 0 0;
    bottom: -40px;
}

.card_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 15px;
    height: 100%;
}

.card_category {
    color: var(--color-geek);
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.card_title {
    display: flex;
    align-items: center;
}

.card_title a {
    text-transform: capitalize;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    transition: all .3s;
}

.card_title a:hover {
    color: var(--color-geek);
}

.card_price {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.card_price p {
    color: var(--color-geek);
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.card_price sub {
    color: white;
    display: flex;
    align-items: center;
    gap: 4px;
}

.card_price sub .credit-card {
    font-size: 16px;
}

.card_pay {
    width: 100%;
    font-family: Inter;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.card_pay button {
    background-color: #005BF5;
    padding: 8px;
    border-radius: 25px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: Inter;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    transition: all .2s;
}

.card_pay button:hover {
    background-color: #4a95f7;
}

.card_pay button .card_icon {
    color: white;
    font-size: 24px;
}

.card_pay a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card_pay a .eye-icon {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 5px;
    border: 2px white solid;
    border-radius: 50%;
}

/* footer */

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    font-family: Inter;
    background-color: #080808;
}

.footer-pay {
    display: flex;
    align-items: center;
    color: #e7e7e7;
    gap: 40px;
}

.footer-method {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-method p {
    font-size: 18px;
}

.footer-method div i {
    font-size: 14px;
}

.footer-pay div i {
    font-size: 32px;
}

.footer-img {
    width: 128px;
    transform: translateY(8px);
}

.footer-img img {
    width: 100%;
}

.footer-midia {
    display: flex;
    gap: 10px;
}

.footer-midia a {
    color: #e7e7e7;
    font-size: 24px;
}

.footer-midia a:hover {
    color: var(--color-geek);
}

/* produtos geek */

.container-geek {
    width: 80%;
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
    padding: 20px;
}

.geek-img {
    width: 500px;
    height: 500px;
}

.geek-img img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.geek-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.geek-category {
    text-transform: uppercase;
    color: var(--color-geek);
    font-weight: bold;
    font-size: 14px;
}

.geek-title {
    font-size: 24px;
    text-align: center;
}

.geek-price {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 5px;
    /* width: 230px; */
}

.geek-price p {
    font-size: 24px;
    font-weight: bold;
}

.geek-price sub {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
}

.geek-size {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.geek-size sub {
    font-size: 15px;
    font-weight: bold;
}

.geek-size div button {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    transition: all .2s;
    cursor: pointer;
}

.geek-size div button:hover {
    background-color: black;
    /* border: 2px solid black; */
}

.geek-size div button:active {
    border: 2px solid #4e4d4d;
    background-color: #4e4d4d;
}

.geek-size div button:focus {
    color: black;
    background-color: white;
}

.geek-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.geek-buy button {
    width: 100%;
    padding: 15px 15px;
    border: none;
    background-color: #005BF5;
    color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
}

.geek-buy button:hover {
    background-color: #3780ff;
}

.geek-cep {
    display: flex;
    width: 100%;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.geek-cep input {
    width: 70%;
    padding: 10px;
    border: 1.5px solid #080808;
    border-radius: 5px;
    background-color: #2F2F2F;
    color: white;
}

.geek-cep button {
    width: 30%;
    padding: 10px;
    border-radius: 25px;
    color: var(--color-geek);
    border: 1.5px solid var(--color-geek);
    background-color: transparent;
    font-weight: bold;
    transition: all .3s;
    cursor: pointer;
}

.geek-cep button:hover {
    background-color: var(--color-geek);
    color: white;
}

.geek-cep button:active {
    filter: brightness(80%);
}

@media screen and (max-width: 1536px) {
    .product {
        min-width: 90%;
    }

    .p-leftArrow {
        left: 10px;
    }

    .p-rightArrow {
        right: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .menu {
        display: block;
        color: white;
        font-size: 32px;
    }

    .header-top .search {
        display: none;
    }

    .header-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        width: 100%;
    }

    .header-bottom .search {
        width: 100%;
    }

    .header-top {
        padding: 0px 20px;
    }

    .container-geek {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .geek-content {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {

    .header-list,
    .header-cart {
        transition: all .5s ease-out;
    }

    .p-leftArrow,
    .p-rightArrow {
        display: none;
    }

    .product {
        width: 100%;
    }

    .carrosel .web {
        display: none;
    }

    .carrosel .mobile {
        display: block;
    }

    .banner-mobile {
        display: block;
    }

    .banner img:first-child {
        display: none;
    }

    .banner img {
        object-fit: fill;
    }

    .pay {
        gap: 20px;
        font-size: 12px;
        padding: 30px 10px;
    }

    .infos-pay {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* sub title */

    .sub-title {
        text-align: center;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .sub-title h1 {
        font-family: LEMONMILK;
        color: var(--color-geek);
        font-weight: normal;
        font-size: 28px;
    }

    .sub-title h3 {
        font-family: Inter;
        color: white;
        font-weight: normal;
        font-size: 16px;
    }

    /* footer */

    footer {
        flex-direction: column;
        gap: 30px;
    }

    .footer-img {
        transform: translateY(0);
    }

    .footer-pay {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .footer-method {
        font-size: 10px;
        display: flex;
        gap: 10px;
    }

    .footer-method div {
        display: flex;
        gap: 10px;
    }

    .header-list {
        width: 100%;
        left: -850px;
    }

    .header-list.active {
        position: absolute;
        left: 0px;
    }

    .header-list .h-user a:hover {
        background-color: transparent;
    }

    .container-geek {
        width: 100%;
    }

    .geek-content {
        width: 100%;
    }

    .header-cart {
        width: 100%;
        /* height: 100vh; */
        left: -600px;
    }
}

@media screen and (max-width: 414px) {
    .container-login {
        width: 350px;
    }
}